/*style.css*/

@keyframes Message {

    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;

    }
    
}
#Message_Box {

    background-color: rgba(152, 152, 152, 0.397);
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    animation-name: a;
    animation-duration: 1s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;


}

#Message_Text {
    padding: 7px 13px;
    color: white;
    background-color: rgb(82, 82, 82);
    border: 1px solid rgb(161, 161, 161);
}







body {
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
    background-image: url("http://localhost:81/files/img/BacKc1.jpg");
    background-size: cover;
    background-repeat: 0;
    background-position: 0%;
    background-position: center;
    width: 100vw;
    height: 100vh;
    text-shadow: 0 0 1px white;
}

.DC {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(22, 22, 93, 0.5663515406162465) 15%, rgba(6, 6, 53, 0.3534663865546218) 30%, rgba(0, 0, 0, 0.13217787114845936) 48%, rgba(9, 9, 67, 0.36747198879551823) 64%, rgba(21, 21, 91, 0.5887605042016807) 83%, rgba(0, 0, 0, 1) 100%);
}

.main {
    
    background-color: #ffffffd1;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    
}

h1 {
    color: #4CAF50;
}

label {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


input {
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}
input:focus {
    border: 1px solid black;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #4CAF50;
    width: 100%;
    font-size: 16px;
}
button:hover {
    background-color: #45a148;

}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Message {
    color:  red;
}