<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - ZIPBUY</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/files/img/Logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/files/css/Home.css">
    <link rel="stylesheet" href="/files/css/Cart_Page.css">
</head>
<body>

    
    <div id="Message_Box">
        <div id="Message_Text">No message yet</div>            
    </div>
    
    <header class="Header">
        <div class="cetn">
            
            <div class="head">
                <h1 title="ZIPBUY" class="H1"><a href="/">ZIPBUY</a></h1>
                
            </div>
            <div id="MenuDIv">
                <a href="/cart" style="color: white; font-weight: bold;">
                    //- <a href="/cart">
                    <div id="Menu" class="material-symbols-outlined">shopping_cart</div>
                </a>

            //- </div>

            </div>
            <div class="Righ">
                <div id="INNSTSTR1">
                    <a href="/profile">Profile</a>
                </div>
                <div id="INNSTSTR2">
                    <a href="/">Products</a>
                </div>
                <div id="INNSTSTR3">
                    <a href="/product/back_cover_collections">Skins</a>
                </div>
                 
                <div id="INNSTSTR4">
                    <a href="/app_download" target="_blank">Download app</a>
                </div>
                <div id="CatM">
                    <a href="/order">Order</a>
                </div>
                <div id="INNSTSTR6">
                    <a href="/cart">Cart</a>
                </div>

                <div id="UpDownDiv">
                    <div id="UpDown" class="material-symbols-outlined">arrow_drop_down</div>
                </div>
            </div>
        </div>
            
    </header>



    <section class="Sect1">
        <div class="CartT">
            <h1><a href="/cart">Shopping Cart</a></h1>

        </div>
        <div class="CartList">


            <!-- <div class="Prod">
                <div class="Side1">
                    <a href="/products/">
                        <img src="/files/img/Cat1.webp" alt="Product Image"></div>
                    </a>
                <div class="Side2">
                    <h1>
                        <a href="/products/">Samsung S50pro | 4500MP Camera</a>
                    </h1>
                    <div class="Pricing">
                        <div class="MRPPPP">MRP: Rs.12,999</div>
                        <div class="Sellings">Rs.12,534</div>
                    </div>
                    <div>
                        <label for="Option_Selected">Option:</label>
                        <select name="Option_Selected" id="Option_Selected">
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="X">X</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                            <option value="XXXL">XXXL</option>
                        </select>
                        <button id="Update" onclick="Update('342442342');" type="button">Update</button>
                    </div>
                    <div>
                        <button id="delete_cart" onclick="delete_cart();" type="button">Remove</button>
                    </div>
                </div>
                
            </div> -->


            | !{Products}


            <div>
                | !{PROO}
            </div>

        </div>

    </section>
    
    <script src="/files/js/Cart_Page.js"></script>
    <script src="/files/js/Mobiles.js"></script>

</body>
</html>