
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - ZIPBUY</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/files/img/LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/files/css/Order_Page.css">
    <link rel="stylesheet" href="/files/css/Home.css">
</head>
<body>
    
    <center><h1>Dashboard All</h1></center>


    <br><br>
    <center>
        <form action="/Dashboard_Product/safsfsddfdsfdfsgdjkfgdhfjsdkfdsgfdgsfdsjhfdsfdsgfdsgfdgsfd7sftdsf8dsftsdfsdo89fydsfsd8fdOrder/Search" method="get">
            <input placeholder="Enter ID" name="ID" type="text">
            <input type="submit">
        </form>
    </center>
    <br><br>



    <section class="Section_1">
            <main>
                | !{In}
            </main>
    </section>




    <script src="/files/js/Order_Page.js"></script>
    
</body>
</html>