
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - ZIPBUY</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/files/img/LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/files/css/Order_Page.css">
    <link rel="stylesheet" href="/files/css/Home.css">
</head>
<body>
    
    <center><h1>Dashboard Searched</h1></center>

    <br><br>
    <center>
        <form action="/Dashboard_Product/safsfsddfdsfdfsgdjkfgdhfjsdkfdsgfdgsfdsjhfdsfdsgfdsgfdgsfd7sftdsf8dsftsdfsdo89fydsfsd8fdOrder/Search" method="get">
            <input placeholder="Enter ID" name="ID" type="text">
            <input type="submit">
        </form>
        <a href="/Dashboard_Product/Ordersafsdfgedtffgikhweopfhe324idsgfdsgfjkdsfgdsuigfdsgoriy384ty8dfgfdgdfgfd">HOME DASHBOARD</a>
    </center>
    <br><br>


    <center>

        <form action="/Dashbord/order/update" method="post">
            <input type="text" value="#{ID}" id="ID" style="display: none;" name="ID">
            <label for="Status">Change Status:</label>
            <input type="text" value="#{Status}" placeholder="Change status" id="Status" name="Status">
            <br>
            <label for="DeliveryDate">DeliveryDate:</label>
            <input type="text" value="#{DeliveryDate}" placeholder="Delivery Date" id="DeliveryDate" name="DeliveryDate">
            <br>
            <br>
            <br>
            <button type="submit">change</button>
            
        </form>
    </center>
    




    <section class="Section_1">
            <main>
                | !{In}
            </main>
    </section>




    <script src="/files/js/Order_Page.js"></script>
    
</body>
</html>