<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foods - ZIPBUY</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/files/css/MensWear_First.css">
    <link rel="shortcut icon" href="/files/img/LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>.P_Title{padding: 10px 5px; font-size: 18px; font-weight: bold; }</style>
</head>
<body>


    <div id="Background">
        <img src="/files/img/Tick.png" alt="Cart_Confirmatim Image">
        <h3>Added to cart</h3>
    </div>


    include Header.pug
    <section class="Section1">
        <div class="Img">
            <img class="ImsH1" src="/files/img/Food Catagory.jpg" alt="Home image">
        </div>


        <main class="main">
            <h2 class="Maisnsdasd">Restaurant & Kitchen</h2>
            <div class="Main_Cew">
                
                <div class="productStart">
                    <a href="/product/food/swapan_restaurant">
                        <img src="/files/img/swapan Restaurant.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/food/swapan_restaurant"><center>Swapan's Restruant</center></a>
                    </h2>
                </div>

                <div class="productStart">
                    <a href="/product/food/pizza_point_kitchen">
                        <img src="/files/img/Pizza Point & Kitchen.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/food/pizza_point_kitchen"><center>Pizza Point Kitchen</center></a>
                    </h2>
                </div>

                <div class="productStart">
                    <a href="/product/food/petuk_restaurant">
                        <img src="/files/img/Petuk Resturant.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/food/petuk_restaurant"><center>Petuk Restaurant</center></a>
                    </h2>
                </div>


                <div class="productStart">
                    <a href="/product/food/friedwala">
                        <img src="/files/img/Friedwala.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/food/friedwala"><center>Friedwala</center></a>
                    </h2>
                </div>

                
                <div class="productStart">
                    <a href="/product/food/7th_heaven">
                        <img src="/files/img/7th heaven.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/food/7th_heaven"><center>7th Heaven</center></a>
                    </h2>
                </div>


                <div class="productStart">
                    <a href="/product/food/shankha_restaurant">
                        <img src="/files/img/shankha Restaurant.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/food/shankha_restaurant"><center>Shankha Restaurant</center></a>
                    </h2>
                </div>
                <div class="productStart">
                    <a href="/product/food/kohili_masala_kitchen">
                        <img src="/files/img/kohili Masala & kitchen.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/food/kohili_masala_kitchen"><center>Kohili Masala Kitchen</center></a>
                    </h2>
                </div>


            </div>

        </main>
        
                        
    </section>
    include Footer.pug
    <script src="/files/js/MensWear_First.js"></script>
</body>
</html>