
<footer>
    <div class="Fott">
        <div class="Fo1">
            <center><u>Social media</u></center>
            <center>
                <a href="https://www.instagram.com/zipbuy_official_?igsh=d2Nka2JvaXp5cjA4" target="_blank">Instagram</a>
            </center>
            <center>
                <a href="https://www.facebook.com/profile.php?id=61563199102442&mibextid=ZbWKwL" target="_blank">Facebook</a>
            </center>
            <center>
                <a href="https://wa.me/919475502506" target="_blank">WhatsApp</a>
            </center>
            
        </div>
        <div class="Fo1">
            <center><u>About Us</u></center>
            <center>
                <a href="/terms-and-conditions" target="_blank">Terms And Conditions</a>
            </center>
            <center>
                <a href="/app_download" target="_blank">Download app</a>
            </center>
            
            
        </div>
        <div class="Fo1">
            <center><u>Know us</u></center>
            <center>
                <a href="https://wa.me/919475502506" target="_blank">Contact Us</a>
            </center>
            <center>
                <a href="mailto:info@zipbuy.in" target="_blank">Email Us</a>
            </center>
            <center>
                <a href="tel:+919475502506" target="_blank">Call us</a>
            </center>
            
        </div>

    </div>
    <div>
        |   Copyright &copy; All Rights Reserved
    </div>
        

</footer>