<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery - ZIPBUY</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/files/css/MensWear_First.css">
    <link rel="shortcut icon" href="/files/img/LOGO.png" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>.P_Title{padding: 10px 5px; font-size: 18px; font-weight: bold; }</style>
</head>
<body>


    <div id="Background">
        <img src="/files/img/Tick.png" alt="Cart_Confirmatim Image">
        <h3>Added to cart</h3>
    </div>


    include Header.pug
    <section class="Section1">
        <div class="Img">
            <img class="ImsH1" src="/files/img/Grocery Catagory.jpg" alt="Home image">
        </div>


        <main class="main">
            <h2 class="Maisnsdasd">Restaurant & Kitchen</h2>
            <div class="Main_Cew">
                
                <div class="productStart">
                    <a href="/product/grocery/milk">
                        <img src="/files/img/milk.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/grocery/milk"><center>Milk</center></a>
                    </h2>
                </div>

                
                <div class="productStart">
                    <a href="/product/grocery/rice">
                        <img src="/files/img/rice.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/grocery/rice"><center>Rice</center></a>
                    </h2>
                </div>


                <div class="productStart">
                    <a href="/product/grocery/tooth_brush_paste">
                        <img src="/files/img/tooth brush and pest.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/grocery/tooth_brush_paste"><center>Tooth brush and Paste</center></a>
                    </h2>
                </div>


                <div class="productStart">
                    <a href="/product/grocery/dal_ata">
                        <img src="/files/img/dal.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/grocery/dal_ata"><center>Dal & Ata</center></a>
                    </h2>
                </div>


                <div class="productStart">
                    <a href="/product/grocery/biscuit_noodles">
                        <img src="/files/img/buicuit.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/grocery/biscuit_noodles"><center>Biscuit & Noodles</center></a>
                    </h2>
                </div>



                <div class="productStart">
                    <a href="/product/grocery/masala_oil">
                        <img src="/files/img/masala.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/grocery/masala_oil"><center>Masala & Oil</center></a>
                    </h2>
                </div>



                <div class="productStart">
                    <a href="/product/grocery/tea_coffee">
                        <img src="/files/img/tea.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/grocery/tea_coffee"><center>Tea & Coffee</center></a>
                    </h2>
                </div>



                <div class="productStart">
                    <a href="/product/grocery/sugar_salt">
                        <img src="/files/img/salt.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/grocery/sugar_salt"><center>Sugar & Salt</center></a>
                    </h2>
                </div>




            </div>

        </main>
        
                        
    </section>
    include Footer.pug
    <script src="/files/js/MensWear_First.js"></script>
</body>
</html>