
<header class="Header">
    <div class="cetn">
        
        <div class="head">
            <h1 title="ZIPBUY" class="H1"><a href="/">ZIPBUY</a></h1>
            
        </div>
        <div id="MenuDIv">
            <a href="/cart">
                <div id="Menu" class="material-symbols-outlined">shopping_cart</div>
            </a>
                

        </div>
        <div class="Righ">
            <div id="INNSTSTR1">
                <a href="/profile">Profile</a>
            </div>
            <div id="INNSTSTR2">
                <a href="/">Products</a>
            </div>
            <div id="INNSTSTR3">
                <a href="/product/back_cover_collections">Skins</a>
            </div>
                
            <div id="INNSTSTR4">
                <a href="/app_download" target="_blank">Download app</a>
            </div>
            <div id="CatM">
                <a href="/order">Order</a>
            </div>
            <div id="INNSTSTR6">
                <a href="/cart">Cart</a>
            </div>

            <div id="UpDownDiv">
                <div id="UpDown" class="material-symbols-outlined">arrow_drop_down</div>
            </div>
        </div>
    </div>
        
</header>