
<header class="Header">
    <div class="cetn">
        
        <div class="head">
            <h1 title="ZIPBUY" class="H1"><a href="/">ZIPBUY</a></h1>
            
        </div>
        <div id="MenuDIv">
            <a href="/cart">
                <div id="Menu" class="material-symbols-outlined">shopping_cart</div>
            </a>
                

        </div>
        <div class="Righ">
            <div id="INNSTSTR1">
                <a href="/profile">My Account</a>
            </div>
                
            <div id="INNSTSTR4">
                <a href="/app_download" target="_blank">Download app</a>
            </div>
            | !{NAV}
            //- <div id="CatM">
            //-     <a href="/order">Order</a>
            //- </div>
            //- <div id="INNSTSTR7">
            //-     <a href="/logout">Logout</a>
            //- </div>
            //- <div id="INNSTSTR6">
            //-     <a href="/cart">Cart</a>
            //- </div>
            //- <div id="INNSTSTR6">
            //-     <a href="/login">Login</a>
            //- </div>

            <div id="UpDownDiv">
                <div id="UpDown" class="material-symbols-outlined">arrow_drop_down</div>
            </div>
        </div>
    </div>
        
</header>

<script src="/files/js/#{Script1}.js"></script>