<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - ZIPBUY</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/files/img/Logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/files/css/Home2.css">
    <link rel="stylesheet" href="/files/css/HomeNew.css">

    <meta name="description" content="Indian Ecommerce website (ZIPBUY), this website provides you good and services, you can buy the products from our platform we will deliver the product within the given time.">
    <meta name="keywords" content="ZIPBUY, zipbuy, localhost, zipbuy online shopping">
    <meta name="author" content="ZIPBUY">
    <meta name="robots" content="index,follow">

    <meta property="og:title" content="Zipbuy Online shopping site">
    <meta property="og:description" content="Indian Ecommerce website (ZIPBUY), this website provides you good and services, you can buy the products from our platform we will deliver the product within the given time.">
    //- <meta property="og:image" content="/files/img/Change3.jpg">
    <meta property="og:url" content="https://www.localhost">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="ZIPBUY">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="https://www.localhost/files/img/Logo.webp"/>

    <meta name="googlebot" content="index, follow">
    <meta name="msnbot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="rating" content="General">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="App Title">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <meta name="distribution" content="India">




</head>
<body>

    include Header.pug
    <section class="Section1">
        <div class="Img">
            <img class="ImsH1" src="/files/img/Mens_collection_Img.jpg" alt="Home image">
        </div>


        <main class="main">
            <h2 class="Maisnsdasd">Products</h2>
            <div class="Main_Cew">

                <div class="productStart">
                    <a href="/product/menswear">
                        <img src="/files/img/Cat1.webp" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/menswear"><center>MENSWEAR</center></a>
                    </h2>

                </div>
                <div class="productStart">
                    <a href="/product/womenswear">
                        <img src="/files/img/Cat2.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/womenswear"><center>WOMENSWEAR</center></a>
                    </h2>
                    
                </div>
                <div class="productStart">
                    <a href="/product/hand_printed_collections">
                        <img src="/files/img/Cat3.webp" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/hand_printed_collections"><center>HAND PRINTED COLLECTION</center></a>
                    </h2>
                    
                </div>
                
                <div class="productStart">
                    <a href="/product/trending_collections">
                        <img src="/files/img/Cat4.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/trending_collections"><center>TRENDING COLLECTIONS</center></a>
                    </h2>
                </div>
                <div class="productStart">
                    <a href="/product/back_cover_collections">
                        <img src="/files/img/Cat5.webp" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/back_cover_collections"><center>BACK COVER COLLECTIONS</center></a>
                    </h2>
                    
                </div>






                <div class="productStart">
                    <a href="/product/electronics">
                        <img src="/files/img/eLECTRONICS1.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/electronics"><center>ELECTRONICS</center></a>
                    </h2>
                    
                </div>
                <div class="productStart">
                    <a href="/product/jewellery">
                        <img src="/files/img/Jew1.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/jewellery"><center>JEWELLERY</center></a>
                    </h2>
                    
                </div>
                <div class="productStart">
                    <a href="/product/bags">
                        <img src="/files/img/BAgs1.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/bags"><center>BAGS</center></a>
                    </h2>
                    
                </div>
                <div class="productStart">
                    <a href="/product/daily_used_accessories">
                        <img src="/files/img/DUP1.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/daily_used_accessories"><center>DAILY USED PRODUCTS</center></a>
                    </h2>
                    
                </div>
                <div class="productStart">
                    <a href="/product/customize_products">
                        <img src="/files/img/Customised1.jpg" alt="Product Image">
                    </a>
                    <h2 class="P_Title">
                        <a href="/product/customize_products"><center>CUSTOMIZED PRODUCTS</center></a>
                    </h2>
                    
                </div>





            </div>

        </main>
    </section>



    <section class="Section2">
        <main class="main1">

            | !{ProductSuggest}
        </main>
    </section>




    include Footer.pug
    
    <script src="/files/js/MensWear_First.js"></script>
</body>
</html>