<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/files/css/Home.css">
</head>
<body>

    <header class="Header">
        <div class="cetn">
            
            <div class="head">
                <h1 title="ZIPBUY" class="H1"><a href="/Shop">ZIPBUY</a></h1>
                
            </div>
            <div class="Righ">
                <div>
                    <a href="/profile">Profile</a>
                </div>
                <div>
                    <a href="/products">Products</a>
                </div>
                <div>
                    <a href="/skins">Skins</a>
                </div>
                <div>
                    <a href="/catogeries">Catogeries</a>
                </div>
                <div>
                    <a href="/more">More</a>
                </div>
                <div>
                    <a href="/cart">Cart</a>
                </div>
            </div>
        </div>
            
    </header>
    <section class="Section1">
        <div class="Img">
            <!-- <img class="ImsH1" src="/files/img/Change1.jpg" alt="Home image"> -->
        </div>


        <main class="main">
            <h2 class="Maisnsdasd">Products</h2>
            <div class="Main_Cew">

                <div class="productStart">
                    <img src="/product/img/1718658420170_File_3_M_5.jpg" alt="Product Image">
                    <h2 class="P_Title">
                        <a href="/product/"><center>Dress - Men and Women</center></a>
                    </h2>

                </div>
                <div class="productStart">
                    <img src="/product/img/1718689137890_File_1_E1.jpg" alt="Product Image">
                    <h2 class="P_Title">
                        <a href="/product/"><center>Shoes</center></a>
                    </h2>

                </div>
                <div class="productStart">
                    <img src="/product/img/1718662566475_File_1_D1.jpg" alt="Product Image">
                    <h2 class="P_Title">
                        <a href="/product/"><center>Electronics</center></a>
                    </h2>

                </div>




            </div>
            <div class="Main_Cew">

                <div class="productStart">
                    <img src="/product/img/1718662566475_File_1_D1.jpg" alt="Product Image">
                    <h2 class="P_Title">
                        <a href="/product/"><center>Dress - Men and Women</center></a>
                    </h2>
                    
                </div>
                <div class="productStart">
                    <img src="/product/img/1718658420170_File_3_M_5.jpg" alt="Product Image">
                    <h2 class="P_Title">
                        <a href="/product/"><center>Shoes</center></a>
                    </h2>
                    
                </div>
                <div class="productStart">
                    <img src="/product/img/1718689137890_File_1_E1.jpg" alt="Product Image">
                    <h2 class="P_Title">
                        <a href="/product/"><center>Electronics</center></a>
                    </h2>

                </div>




            </div>

        </main>
    </section>
    
</body>
</html>