<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ZIPBUY | www.zipbuy.com</title>
    <link rel="stylesheet" href="/files/css/Login.css">
</head>
<body>

    <div id="Message_Box">
        <div id="Message_Text">No message yet</div>            
    </div>
    <div class="DC">

        



    
        <div class="main">
            <h1>ZIPBUY</h1>
            <h3>Enter your login credentials</h3>
            <form action="">
                <label for="first">Email:</label>
                <input type="text" id="Email" name="Email" placeholder="Enter your Email" spellcheck="false" required autofocus>

                <label for="password">Password:</label>
                <input type="password"id="Password" name="Password" placeholder="Enter your Password" required>

                <div class="wrap">
                        <button id="wrapn" type="button" onclick="Sub()">Submit</button>
                </div>
            </form>
            <p>Not registered? <a href="/signup" style="text-decoration: none;"> Create an account </a>
            </p>
            <!-- <p class="Message">Wrong password</p> -->
        </div>
    </div>

    
    
    <script src="/files/js/Login.js"></script>
</body>
</html>