<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order - ZIPBUY</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaini+Purva&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/files/img/Logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/files/css/Order_Page.css">
    <link rel="stylesheet" href="/files/css/Home.css">
</head>
<body>
    
    <div id="Message_Box">
        <div id="Message_Text">No message yet</div>            
    </div>
    
    <header class="Header">
        <div class="cetn">
            
            <div class="head">
                <h1 title="ZIPBUY" class="H1"><a href="/">ZIPBUY</a></h1>
                
            </div>
            <div id="MenuDIv">
                <a href="/cart" style="color: white; font-weight: bold;">
                    <div id="Menu" class="material-symbols-outlined">shopping_cart</div>
                </a>


            </div>
            <div class="Righ">
                <div id="INNSTSTR1">
                    <a href="/profile">Profile</a>
                </div>
                <div id="INNSTSTR2">
                    <a href="/">Products</a>
                </div>
                <div id="INNSTSTR3">
                    <a href="/product/back_cover_collections">Skins</a>
                </div>
                 
                <div id="INNSTSTR4">
                    <a href="/app_download" target="_blank">Download app</a>
                </div>
                <div id="CatM">
                    <a href="/order">Order</a>
                </div>
                <div id="INNSTSTR6">
                    <a href="/cart">Cart</a>
                </div>

                <div id="UpDownDiv">
                    <div id="UpDown" class="material-symbols-outlined">arrow_drop_down</div>
                </div>
            </div>
        </div>
            
    </header>


    <!-- <div class="Products">
        <h3 style="margin: 7px 4px;">Order ID: 3432452443534634643</h3>
        <table>
            <tr style="border-bottom: 1px solid #aaa;">
                <td style="font-weight: bold;">Products:</td>
                <td style="font-weight: bold;">Option</td>
                <td style="font-weight: bold;">Price</td>
            </tr>
            <tr>
                <td style="font-weight: bold;" colspan="2">Total</td>
                <td>Rs. 899</td>
            </tr>
            <tr>
                <td style="font-weight: bold;" colspan="2">Current Status</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td style="font-weight: bold; text-align: right;" colspan="2">Contant for any issue</td>
                <td><a href="https://wa.me/+919749848292">WhatsApp</a></td>
            </tr>
        </table>
    </div> -->
    <section class="Section_1">
        <main>
            | !{In}

        </main>

    </section>

    include Footer.pug
    <script src="/files/js/Order_Page.js"></script>
    <!-- <script src="/files/js/Mobiles.js"></sscript> -->
    
</body>
</html>