<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification | ZIPBUY</title>
    
    <link rel="shortcut icon" href="/files/img/Logo.webp" type="image/x-icon">

    <link rel="stylesheet" href="/files/css/Signup_OTP.css">
</head>
<body>
    <div class="xc">
        <div class="XD">

            <div class="Cen">
                <div class="Form">
                    <div class="Cener">
                        <h3>OTP sent successfully to <br> the registered Email address<br> Enter OTP</h3>
                        <input id="Ind" class="Inp" placeholder="Enter OTP" maxlength="6" type="text">
                        <button id="Btn" type="button">Submit</button>
                        <p id="Message"></p>
                    </div>
                </div>
            </div>

        </div>
        
    </div>

    
    <script src="/files/js/Signup_OTP.js"></script>
</body>
</html>